p{
  font-style: oblique;
  color: purple;
  font-weight: 400;
}
 

h2{
  text-align: center;
}
input{
  text-align: center;
}
div{
  font-style: oblique;
  text-align: center;
}
head{
  color: #600;
}